*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.no-scroll{
    overflow: hidden;

}

.bumper {
    padding-top: 5vh;
    background-color: rgba(22, 40, 64, 1);
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.space-holder {
    position: relative;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
}

.cards {
    position: relative;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.sample-card {
    position: relative;
    height: 100%;
    width: 100vw;
    background-color: #111f30;
    flex-shrink: 0;
    z-index: 1;
    background-blend-mode: multiply;
}

.sample-card:nth-child(1) {
    background: rgb(114, 112, 112);

}

.sample-card:nth-child(2) {
    background:rgb(121, 120, 120) ;
  
}

.sample-card:nth-child(3) {
    background: rgb(121, 65, 65);

}
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.section {
    position: relative;
    margin-top: 20vh;
    margin-left: 3vw;
    margin-bottom: 10vh;
    opacity: 1;
}
.heading {
    margin: 0px 0px 0px 4px;
    color: #77A0D9;
    font-size: clamp(10px, 2vw, 40px);
    font-weight: 400;
    opacity: 0;


}

.typed {

    color: #cc8330;
}

.big-heading {
    margin: 0px 0px 0px 0px;
    color: rgb(214, 211, 211);
    font-size: clamp(40px, 4vw, 90px);
    opacity: 0;


}

.small-heading {
    margin: 0px 0px 0px 4px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: clamp(25px, 3vw, 40px);
    opacity: 0;

}
.socials {
    display: flex;
    margin-left: -40px;
    position: relative;
    list-style-type: none;
    opacity: 0;
    
}

.socialLogo {
    width: 20px;
    color: white;
    margin: 5px;
    

}

.s1 .s2 .s3 .s4 .s5 {
    opacity: 0;
}


.fade {
    opacity: 0;
    transition: ease-in-out 1s;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}


.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


.n1 .n2 .n3 {
    opacity: 0;
    color: white;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.hove:hover,.socialLogo:hover{
    color: #cc8330;

}
.navigation {
    opacity: 0;

}

.naviActive {
    transition: ease-in-out .5s;
    transform: translateY(20px);
    opacity: 1;

}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    font-size: clamp(8px, 1.5vw, 16px);

}


nav ul li {
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/*for project box*/
ul,
ol {
  list-style: none;
}
.links {
  display: grid;
  position: relative;

}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.project-container {
  max-width: 1350px;
  margin: 25vh auto;

}
.lang{
  padding: 0 0 0 0;
}

.socialLinks{

    padding: 0 0 0 0;
    display: grid;
    align-items: center;
    

}
.project {
  margin: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  opacity: 0;
}
.project-view {
  transition: ease-in-out .4s;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .project {
    align-items: flex-start;
    opacity: 1;

  }
}
.project-content {
  position: relative;
  grid-column: 1/7;
  grid-row: 1/-1;
}
@media (max-width: 600px) {
  .project-content {
    grid-column: 1/-1;
    padding: 40px;
    background: rgba(2,12,27,0.7);

  }
}
.project-content .project-label {
  color: #64ffda;
  font-family: monospace;
}
.project-content .project-title {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: #eee;
}

.project-content .project-details {
  font-size: 15px;
  line-height: 1.5;
  color: #aaa;
  
}
.project-content .project-details p {
  background-color: #252525;
  padding: 20px 25px;
}
@media (max-width: 600px) {
  .project-content .project-details p {
    background-color: transparent;
    padding: 20px 0;
    color: rgb(241, 241, 241);
  }

}
.project-content .project-details ul {
  display: flex;
  margin-top: 20px;

}
.project-content .project-details ul li {
  margin-right: 20px;
  color: rgb(255, 255, 255);
  font-family: monospace;
  
}

.project-img {
  position: relative;
  z-index: -1;
  border-radius: 2px;
  grid-column: 6/-1;
  grid-row: 1/-1;

}

@media screen and (max-width: 768px) {
  .project-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .project-img {
    grid-column: 1/-1;
    opacity: 0.75;
  }
}
.project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  mix-blend-mode: screen;
  border-radius: 2px;
  
}
.project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  margin-left: -90px;
  
}
@media screen and (max-width: 768px) {

  .project-img img {

    object-fit: scale-down;
    width: auto;
    height: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }

  
}

